.service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  min-height: 500px;
  background: #FFF;
  border-radius: 6px;
  width: fit-content;
  padding-bottom: 20px;
  &__image {
    overflow: hidden;
    margin-bottom: 24px;
    aspect-ratio: 1.4;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: .3s all;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 12px;
    gap: 32px;
  }
  &__content {

  }
  &__title {
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    color: #383838;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  &__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.57143;
    color: #697586;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  &__price {
    font-weight: 500;
    font-size: 18px;
  }
  &__btn {
    width: 100%;
  }

  &:hover {
    .service-card {
      &__image img {
        transform: scale(1.05);
      }
    }
  }
}