@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './button.scss';
@import './cards/serviceCard.scss';
@import './cards/historyItem.scss';

@import './sections/first.scss';
@import './sections/services.scss';

@import './pages/service-page.scss';
@import './pages/services-page.scss';
@import './pages/account-page.scss';
@import './pages/auth-page.scss';
@import './pages/admin-page.scss';

html {
    scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f9fafc;
}

.cont {
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: 1024px) {
    padding: 0 16px;
  }
  @media (max-width: 640px) {
    padding: 0 12px;
  }
}

.swiper-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.swiper-button {
  width: 44px;
  height: 44px;
  border: 1.5px solid #ccc;
  border-radius: 50%;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease, border-color 0.2s ease, opacity 0.2s ease;

  /* &::before {
    content: "";
    width: 8px;
    height: 8px;
    border-top: 2px solid #111;
    border-right: 2px solid #111;
    transform: rotate(45deg);
    transition: transform 0.2s ease;
  } */

  /* &.swiper-button-prev::before {
    transform: rotate(-135deg);
  } */

  &.swiper-button-prev svg {
    transform: rotate(-180deg);
  }
  &:hover {
    border-color: #111;
    background-color: #f7f7f7;
  }

  &.swiper-button-disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}

// Inputs

.meta-input {
  label {
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    color: #b0a6bd;
    margin-bottom: 2px;
  }
  input, textarea {
    font-weight: 400;
    font-size: 16px;
    color: #383838;
    width: 100%;
    background-color: #FFF;
    border: 1.20px solid #dfe1e3;
    border-radius: 4px;
    padding: 10px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: rgba(56, 56, 56, 0.8);
    }
  }
}


// Typography

.heading-24 {
  font-weight: 600;
  font-size: 24px;
  color: #383838;
}

.heading-20 {
  font-weight: 500;
  font-size: 20px;
  color: #383838;
}

.heading-18 {
  font-size: 18px;
  color: #383838;
  font-weight: 500;
}