.service-page {

  &__wrap {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-top: 40px;
  }

  &__image {
    width: 50%;
  }
  &__content {
    width: 50%;
  }

  &__title {
    font-weight: 500;
    font-size: 22px;
    color: #383838;
    margin-bottom: 20px;
  }
  &__price {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6875;
    color: #383838;
    margin-bottom: 16px;
  }
  &__master {
    margin-bottom: 16px;
    &-avatar {
      --size: 64px;
      width: var(--size);
      height: var(--size);
      border-radius: 100%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
  &__descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57143;
    color: #697586;
    margin-bottom: 24px;
    p {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
  &__btn {
    
  }

}