.first-sec {
  position: relative;
  z-index: 1;
  &__wrap {
    padding: 200px 0;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1;
    color: #FFF;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 1.1;
    color: #FFF;
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  &__image {
    position: absolute;
    inset: 0;
    z-index: -1;
    &::before {
      content: "";
      width: 60%;
      height: 100%;
      background: linear-gradient(90deg, #422a3c 35.42%, rgba(66, 42, 60, 0.85) 50.52%, rgba(66, 42, 60, 0.8) 65.11%, rgba(66, 42, 60, 0.31) 78.12%, rgba(66, 42, 60, 0) 100%);
      position: absolute;
      left: 0;
      top: 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}