.services-sec {
  padding: 120px 0;
  &__nav {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 36px;
    color: #383838;
  }

  &__wrap {
    .swiper {

    }

  }
}